.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(25, 25, 25);
}

.q-block {
    display: flex;
    /* border: 1px solid lightgray; */
    box-sizing: border-box;
    color: lightgray;
    align-items: center;
    justify-content: center;
}

.alive {
    background-color: white;
}